<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados Financeiros</title>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
</head>
<body>
    {{ partial "top.html" . }}

    {{ partial "nav.html" . }}

    {{ partial "breadcrumbs.html" . }}
    <table class="table">
        <tr>
            <th>2013</th>
            <th><a href="/RelatorioeContas2013.pdf">Relatorio E Contas 2013.Pdf</a></th>
        </tr>
        <tr>
            <th>2014</th>
            <th><a href="/RelatorioeContas2014.pdf">Relatorio E Contas 2014.Pdf</a></th>
        </tr>
        <tr>
            <th>2017</th>
            <th><a href="#">Relatorio E Contas 2017.Pdf</a></th>
        </tr>
        <tr>
            <th>2018</th>
            <th><a href="http://www.somicre.com/Portals/0/relatorio-contas-2017.pdf">Relatorio E Contas 2018.Pdf</a></th>
        </tr>
        <tr>
            <th>2019</th>
            <th><a href="/relatorio-contas-2019.pdf">Relatorio E Contas 2019.Pdf</a></th>
        </tr>
        <tr>
            <th>2020</th>
            <th><a href="/relatorio-contas-2020.pdf">Relatorio E Contas 2020.Pdf</a></th>
        </tr>
        <tr>
            <th>2021</th>
            <th><a href="/relatorio-contas-2021.pdf">Relatorio E Contas 2021.Pdf</a></th>
        </tr>
    </table>
</body>
</html>