<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados Financeiros</title>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
</head>
<body>
    {{ partial "top.html" . }}

    {{ partial "nav.html" . }}

    {{ partial "breadcrumbs.html" . }}
    <!-- <h2 style="text-align: center;">Desculpe, esta página não está mais em uso.</h2>
    <a href="/">← Voltar</a> -->
    <table class="table">
        <tr>
            <th>2022</th>
            <th><a href="/RELAT2022.pdf">Relatório E Contas 2022</a></th>
        </tr>
        <tr> 
            <th></th>
            <th></th>
        </tr>
    </table>
</body>
</html>
